#canvas {
    display: none;
    width: 100%;
    height: 100%;

    opacity: 1;
    background: center repeat url("src/images/crossSpace.svg");
    background-size: 20%;
}

#canvas.dragover {
    cursor: pointer;
    outline: 10px solid green;
    transition: .3s;
}